@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #dfe6e9;
  color: #2d3436;
  margin: 1rem;
}

body:after {
  display: table-cell;
  content: "";
  overflow-y: scroll;
  visibility: hidden;
}

#landing-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#info-card {
  width: 30%;
  min-width: 25rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 1rem;
  /* height settings should remain consistent */
  height: calc(50vh - 3rem);
  min-height: 400px;
  flex-grow: 1;
}

#title {
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 4.5rem;
}

#description {
  font-size: 1.4rem;
  padding-top: 1rem;
}

#credits {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card {
  border-radius: 1rem;
  margin: 1rem;
  /* default width settings */
  width: 30%;
  max-width: 700px;
  /* height settings should remain consistent */
  height: calc(50vh - 3rem);
  min-height: 400px;
  /* overflow: hidden; */
  flex-grow: 1;
  /* Inner card display */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card-title {
  padding: 0.5rem 1.2rem 0 1.2rem;
  font-size: 2rem;
  flex: 0 0 auto;
  margin: 0;
}

.card-description {
  padding: 0 1.2rem;
  padding-bottom: 0.5rem;
  flex: 0 0 auto;
  margin: 0;
}

.card-content {
  flex: 1 1 auto;
}

.green {
  background-color: #55efc4;
  filter: drop-shadow(0.5rem 0.5rem 0 #00b894);
}

.cyan {
  background-color: #81ecec;
  filter: drop-shadow(0.5rem 0.5rem 0 #00cec9);
}

.salmon {
  background-color: #fab1a0;
  filter: drop-shadow(0.5rem 0.5rem 0 #e17055);
}

.blue {
  background-color: #74b9ff;
  filter: drop-shadow(0.5rem 0.5rem 0 #0984e3);
}

.red {
  background-color: #ff7675;
  filter: drop-shadow(0.5rem 0.5rem 0 #d63031);
}

.purple {
  background-color: #a29bfe;
  filter: drop-shadow(0.5rem 0.5rem 0 #6c5ce7);
}

/* LIL STAT CONTAINERS */
.stat-container-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.stat-description {}

.stat-number {
  font-size: 3rem;
}

/* Messages card */
#messages-card {
  min-width: 40rem;
  max-width: 60rem;
}

#messages-card .card-content {
  display: grid;
  grid-template: 1fr / 1fr auto;
  height: 0;
}

#simple-messages-chart {
  margin-bottom: 1rem;
}

/* Location card */
#location-card {
  min-width: 20rem;
  max-width: 35rem;
}

#map-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100% - 1rem);
  margin: 0 1rem 1rem 1rem;
}

#map-iframe {
  flex: 1 1 100%;
  width: 100%;
  border: 0;
  border-radius: 1rem;
}

/* Messages History card */
#message-history-card {
  min-width: 35rem;
  max-width: 45rem;
}

#message-history-card .card-content {
  height: 0;
}

#DMs-density-chart {
  height: 100%;
  margin-bottom: 1rem;
}

/* Friends Card */
#friends-card {
  width: auto;
  min-width: 18rem;
  /* max-width: 45rem; */
}

/* Old messages card */
#old-messages-card {
  min-width: 25rem;
  max-width: 40rem;
}

#old-messages-card .card-content {
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin: 0 1rem 1rem 1rem;
}

#messages-container {
  overflow-y: scroll;
  flex: 1 1;
  width: 100%;
  background-color: #dfe6e9;
  color: #2d3436;
  padding: 1.1rem;
  border-radius: 1rem;
  box-shadow: inset 0.5rem 0.5rem 0 0 #6c5ce7;
}

.message-container {
  margin-bottom: 1rem;
}

.message-header {
  color: #2d3436;
}

.message-date {
  text-align: center;
  font-size: 0.8rem;
  color: #636e72;
}

.message {
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  width: fit-content;
  height: fit-content;
}

.message-sent {
  background: #6c5ce7;
  color: #dfe6e9;
  margin-left: auto;
  margin-right: 0;
}

.message-received {
  background: #b2bec3;
  color: #2d3436;
  margin-left: 0;
  margin-right: auto;
}

#messages-container::-webkit-scrollbar {
  width: 1rem;
  height: 12px;
  display: none;
}

#messages-container::-webkit-scrollbar-track {
  background: #dfe6e9;
  border-radius: 0 1rem 1rem 0;
}

#messages-container::-webkit-scrollbar-thumb {
  /* border-radius: 0 1rem 1rem 0; */
  border-radius: 1rem;
  background: #a29bfe;
}

#messages-container::-webkit-scrollbar-thumb:hover {
  background: #999;
}