@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", verdana, arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  padding: 0;
  margin: 0;
  line-height: 2rem;
}

p {
  padding: 0;
  margin: 0;
}

#header-titles {
  max-width: 370px;
}

.header-item {
  padding: 1rem;
}

.stats-container {
  display: flex;
  flex-direction: row;
}

.stat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat-title {
  padding: 0;
  margin: 0;
  text-align: center;
}

.stat {
  font-style: oblique;
  font-size: 3rem;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#DMsDensityChart {
  height: 500px;
  width: 100%;
  max-width: 1000px;
}