<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Facebook Data Visualiser</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/boost.js"></script>

    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <header>
      
    </header>
    <div id="DMsDensityChart"></div>
    <script src="temp/DMsDensityInfo.js"></script>
    <script src="static/DMsDensityChart.js"></script>
  </body>
</html>
