<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Facebook Data Visualiser</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/boost.js"></script>

    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <header>
      <div class="header-item" id="header-titles">
        <h1>Facebook Data Visualiser</h1>
        <p>Similar to your Spotify wrapped experience, quickly visualise all the data Facebook has on you!</p>
      </div>
      <div class="stats-container">
        <div class="header-item stat-container">
          <h4 class='stat-title'>Total Direct Messages Sent</h4>
          <b class='stat'>{{ dashInfo['totalSent'] }}</b>
        </div>
        <div class="header-item stat-container">
          <h4 class='stat-title'>Total Direct Messages Received</h4>
          <b class='stat'>{{ dashInfo['totalReceived'] }}</b>
        </div>
      </div>
    </header>
    <section>
      <div id="DMsDensityChart"></div>
      <script src="temp/DMsDensityInfo.js"></script>
      <script src="static/DMsDensityChart.js"></script>
      <div class="subsection">
        <h2>Your first messages</h2>
        <p>Here are some of the first messages you sent/received!</p>
        <div class="message-container">
          <div class="message-header"><h3>{{ dashInfo['firstReceivedMessage']['sender_name'] }}</h3></div>
          <p class="message-date">{{ dashInfo['firstReceivedMessage']['timestamp_ms'] | timestampToDate }}</p>
          <div class="message message-received"><p>{{ dashInfo['firstReceivedMessage']['content'] }}</p></div>

          <div class="message-header"><h3>{{ dashInfo['firstSentMessage']['sender_name'] }}</h3></div>
          <p class="message-date">{{ dashInfo['firstSentMessage']['timestamp_ms'] | timestampToDate }}</p>
          <div class="message message-received"><p>{{ dashInfo['firstSentMessage']['content'] }}</p></div>

          <div class="message-header"><h3>{{ dashInfo['secondReceivedMessage']['sender_name'] }}</h3></div>
          <p class="message-date">{{ dashInfo['secondReceivedMessage']['timestamp_ms'] | timestampToDate }}</p>
          <div class="message message-received"><p>{{ dashInfo['secondReceivedMessage']['content'] }}</p></div>

          <div class="message-header"><h3>{{ dashInfo['secondSentMessage']['sender_name'] }}</h3></div>
          <p class="message-date">{{ dashInfo['secondSentMessage']['timestamp_ms'] | timestampToDate }}</p>
          <div class="message message-received"><p>{{ dashInfo['secondSentMessage']['content'] }}</p></div>
        </div>
      </div>
    </section>

  </body>
</html>
