<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Facebook Data Visualiser - Home</title>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/boost.js"></script>

    <link rel="stylesheet" href="landing.css">
  </head>
  <body>
    <div id="landing-container">
      <div id="info-card">
        <h1 id="title">Facebook Data Visualiser</h1>
        <p id="description">Similar to your Spotify wrapped experience, quickly visualise all the data Facebook has on you! Click on each of the cards to view more detailed statistics and graphs on their respective pages.</p>
        <p id="credits"><i>(Created by <a href="https://github.com/RabidSheep55" target="_blank">RabidSheep55</a>)</i></p>
      </div>

      <div class="card green" id="messages-card">
        <h2 class="card-title">Messages</h2>
        <p class="card-description">View interesting facts and trends extracted from every single Facebook message you have ever sent and received!</p>
        <div class="card-content">
          <div id="simple-messages-chart"></div>
          <script type="text/javascript">
            const simpleMessageData =  [
              [
                "Mario Bartlett",
                2797,
                2674
              ],
              [
                "Clare Harwood",
                2686,
                1884
              ],
              [
                "Malika Giles",
                1910,
                2287
              ],
              [
                "Darren Cannon",
                1376,
                1672
              ],
              [
                "Nadia Little",
                1285,
                1207
              ]]
          </script>
          <script src="simpleMessagesChart.js"></script>
          <div class="stat-container-container">
            <div class="stat-container">
              <p class="stat-number">40000</p>
              <p class="stat-description">Total Direct Messages exchanged</p>
            </div>
            <div class="stat-container">
              <p class="stat-number">6969</p>
              <p class="stat-description">Number of groups</p>
            </div>
            <div class="stat-container">
              <p class="stat-number">5</p>
              <p class="stat-description">Total Direct Messages Unsent</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card salmon" id="location-card">
        <h2 class="card-title">Location History</h2>
        <p class="card-description">Explore a heatmap showing everywhere you've been according to the {{ XXX }} location history points tracked by Facebook.</p>
        <div class="card-content">
          <div style="width: auto; height: 100%; display: flex; justify-content: center; align-items: center; background-color: black; color: white; border-radius: 1rem 1rem 0 0;">
            Placeholder for map
          </div>
        </div>
      </div>

      <div class="card cyan" id="likes-card">
        <h2 class="card-title">Likes</h2>
        <div class="card-content"></div>
      </div>

      <div class="card red" id="friends-card">
        <h2 class="card-title">Friends</h2>
        <div class="card-content"></div>
      </div>

      <div class="card blue">
        <h2 class="card-title">Friends</h2>
        <div class="card-content"></div>
      </div>
    </div>
  </body>
</html>
