<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Facebook Data Visualiser - Home</title>
    <link rel="stylesheet" href="landing.css">
  </head>
  <body>
    <div id="landing-container">
      <div class="card info-card">
        <h1 id="title">Facebook Data Visualiser</h1>
        <p id="description">Similar to your Spotify wrapped experience, quickly visualise all the data Facebook has on you! Click on each of the cards to navigate to their respective pages.</p>
        <p id="credits"><i>(Created by RabidSheep55)</i></p>
      </div>
      <div class="card green">
        <h2 class="card-title">Messages</h2>
        <p class="card-description">View interesting facts and trends extracted from every single Facebook message you have ever sent and received!</p>
        <div class="card-content">
          <div class="stat-container">
            <p class="stat-number">6969</p>
            <p class="stat-description">Total Direct Messages Sent</p>
          </div>
          <div class="stat-container">
            <p class="stat-number">6969</p>
            <p class="stat-description">Total Direct Messages Received</p>
          </div>
          <div class="stat-container">
            <p class="stat-number">6969</p>
            <p class="stat-description">Total Direct Messages Sent</p>
          </div>
        </div>
      </div>
      <div class="card salmon">
        <h2 class="card-title">Location History</h2>
        <div class="card-content">
          <div class="stat-container">
            <p class="stat-number">90</p>
            <p class="stat-description">Total number of location data points</p>
          </div>
          <div style="width: auto; height: 220px; display: flex; justify-content: center; align-items: center; background-color: #74b9ff; margin:1rem;">
            Placeholder for map
          </div>
        </div>
      </div>
      <div class="card cyan">
        <h2 class="card-title">Likes</h2>
        <div class="card-content"></div>
      </div>
      <div class="card red">
        <h2 class="card-title">Friends</h2>
        <div class="card-content"></div>
      </div>
    </div>
  </body>
</html>
